
// fonts
$font-primary: 'Inter', sans-serif;
$font-secondary: 'Oswald', sans-serif;

// colors
$cl-black: #1C1C1C;
$cl-black-hover: #565656;
$cl-black-disabled: #7B7B7B;
$cl-white: #fff;
$cl-red: #E52D12;
$cl-red-hover: #CE2209;
$cl-red-disabled: #FFA092;
$cl-green: #299E25;
$cl-grey: #B8B8B8;
$cl-grey-dark: #959595;
$cl-grey-light: #E8EBEF;
$cl-grey-btn: #a7a7a7;
$cl-grey-placeholder: #8e8e8e;
$cl-border-grey: #EBEDF0;
$cl-border-grey2: #e0e1e4;
$cl-lines: #1C1C1C;
$cl-lines2: #d9d9d9;
$cl-lines3: #DEDEDE;
$cl-background: #F3F4F6;
$cl-background2: #ebebeb;
$cl-background3: #f4f4f4;
$cl-background4: #e8e9eb;
$cl-background5: #DFE0E2;

$cl-h-pink: #FC9294;
$cl-h-yellow: #FDFF7E;
$cl-h-blue: #4378BC;
$cl-h-mauve: #B35478;
$cl-h-beige: #EDCE7F;


// Settings
$desktop-xxl: 1440;
$desktop-xl: 1300;
$desktop: 1200;
$laptop: 992;
$tablet: 768;
$mobile-hr: 576;
$mobile: 320;
$desktop-vh: 750;

$padd-desktop: 20;
