.home-about {
    position: relative;
    overflow: hidden;
    border-radius: 12px;
    padding: 75px;

	@include desktop-xl {
        padding: 60px;
	}
	@include desktop {
        padding: 50px;
	}
	@include laptop {
        padding: 30px;
	}
	@include mobilehr {
        padding: 20px;
	}

    &__bg {
        position: absolute;
        left: 0;
        top: -20%;
        right: 0;
        bottom: -20%;
        background-image: url('../img/about/bg-about.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        z-index: 1;

        @include laptop {
            background-image: url('../img/about/bg-about-mobile.jpg');
        }
    }
    &__body {
        position: relative;
        color: $cl-white;
        z-index: 2;
        max-width: 659px;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: flex-start;
        min-height: calc(450px - 2*75px);

        @include desktop-xl {
            min-height: calc(450px - 2*60px);
        }
        @include desktop {
            min-height: calc(450px - 2*50px);
        }
        @include laptop {
            min-height: calc(505px - 2*50px);
        }
        @include mobilehr {
            min-height: calc(450px - 2*20px);
        }
    }
    &__title {
        margin-bottom: 10px;

        span {
            color: $cl-red;
        }
    }
    &__text {
        margin-bottom: 30px;
    }
    &__buttons {

        @include laptop {
            margin-top: auto;

            .mbtn {
                display: block;
                width: 100%;
            }
        }
    }
}

.about-advantages {
    border-radius: 12px;
    padding: 60px;
    position: relative;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 60px;
    margin: 60px 0;

    @include desktop-xxl {
        padding: 50px;
    }
    @include desktop-xl {
        padding: 40px;
    }
    @include desktop {
        padding: 30px;
        grid-template-columns: repeat(2, 1fr);
    }
    @include tablet {
        gap: 30px;
        grid-template-columns: 1fr;
    }

    &:first-child {
        margin-top: 0;
    }
    &:last-child {
        margin-bottom: 0;
    }

    &__bg {
        position: absolute;
        left: 0;
        top: -15%;
        right: 0;
        bottom: -15%;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1;

        &::after {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            background-color: rgba($cl-black, 0.5);
            z-index: 2;
        }

        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            border-radius: 12px;
        }
    }

    &__card {
        position: relative;
        z-index: 3;
        color: $cl-white;

        &__number {
            color: $cl-red;
            font-size: rem(20);
            line-height: 1.2;
            font-weight: 400;
            font-family: $font-secondary;
            text-transform: uppercase;
            margin-bottom: 10px;

            @include desktop {
                font-size: rem(18);
                margin-bottom: 5px;
            }
        }
        &__title {
            font-size: rem(20);
            line-height: 1.2;
            font-weight: 400;
            font-family: $font-secondary;
            text-transform: uppercase;
            margin-bottom: 10px;

            @include desktop {
                font-size: rem(18);
            }
        }
        &__text {
            line-height: 1.3;
            font-weight: 400;
        }
    }
}

.for-business {

    &__blockquote {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: flex-start;
        gap: 30px;

        @include desktop {
            gap: 10px;
        }

        &__text {
            font-weight: 400;
            font-size: rem(20);
            line-height: 1.5;
            text-transform: uppercase;
            font-family: $font-secondary;

            @include desktop {
                font-size: rem(18);
            }
        }
        &__autor {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            gap: 20px;
            max-width: 270px;
            margin-left: auto;

            &__img {
                width: 79px;
                height: 79px;
                flex: 0 0 auto;
                border-radius: 50%;
                overflow: hidden;
                display: flex;
                align-items: center;
                justify-content: center;

                @include desktop {
                    width: 57px;
                    height: 57px;
                }

                img {
                    display: block;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            &__body {
                flex: 1 0 0;
                width: 100%;
                max-width: 100%;
                overflow: hidden;
                line-height: 1.3;
            }
            &__name {
                display: block;
            }
            &__position {
                display: block;
                color: $cl-grey-dark;
                font-size: rem(14);
            }
        }
    }

    &__services {
        margin: 40px 0 60px 0;

        @include desktop {
            margin: 30px 0 60px 0;
        }

        &__list {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 30px;

            @include desktop {
                grid-template-columns: repeat(2, 1fr);
            }
            @include tablet {
                grid-template-columns: 1fr;
            }
        }

        &__card {
            background-color: $cl-white;
            border: 1px solid $cl-border-grey;
            border-radius: 12px;
            padding: 30px;

            &__number {
                color: $cl-red;
                font-size: rem(20);
                line-height: 1.2;
                font-weight: 400;
                font-family: $font-secondary;
                text-transform: uppercase;
                margin-bottom: 10px;

                @include desktop {
                    font-size: rem(18);
                }
            }
            &__title {
                font-size: rem(20);
                line-height: 1.2;
                font-weight: 400;
                font-family: $font-secondary;
                text-transform: uppercase;
                margin-bottom: 10px;

                @include desktop {
                    margin-bottom: 5px;
                    font-size: rem(18);
                }
            }
            &__text {
                line-height: 1.3;
            }
        }

        &__footer {
            padding-top: 60px;
            display: flex;
            align-items: center;
            justify-content: flex-start;

            @include desktop {
                padding-top: 30px;
            }

            & > div {
                flex: 0 0 auto;

                @include laptop {
                    flex: 1 0 0;
                    width: 100%;
                    max-width: 100%;
                }
            }
        }
    }
}

.list-resource {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: stretch;
    gap: 30px;
    margin: 30px 0;

    @include desktop {
        grid-template-columns: repeat(2, 1fr);
    }
    @include tablet {
        grid-template-columns: 1fr;
    }

    &:first-child {
        margin-top: 0;
    }
    &:last-child {
        margin-bottom: 0;
    }

    &__card {
        background-color: $cl-white;
        padding: 30px;
        border: 1px solid $cl-border-grey;
        border-radius: 12px;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: flex-start;
        gap: 10px;

        &__title {
            margin: 0;
        }
        &__text {
            line-height: 1.3;
        }
        &__btn {
            margin-top: auto;
            padding-top: 20px;

            @include laptop {
                padding-top: 0;
            }
        }
    }
}

.list-payment {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin: 30px 0;

	@include tablet {
    	grid-template-columns: 1fr;
	}

    &__card {
        padding: 30px 30px 30% 30px;
        border-radius: 12px;
        overflow: hidden;
        position: relative;
        color: $cl-white;

        &__bg {
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 1;

            img {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }

            &::after {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                background: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.4) 67.61%, rgba(0, 0, 0, 0) 100%);
                z-index: 2;
            }
        }
        &__body {
            position: relative;
            z-index: 3;
        }
        &__title {
            margin-bottom: 10px;
        }
    }
}

.list-delivery-services {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: stretch;
    gap: 30px;
    margin: 30px 0;

    @include desktop {
        grid-template-columns: repeat(2, 1fr);
    }
    @include tablet {
        grid-template-columns: 1fr;
    }

    &__card {
        height: 100%;
        min-height: 400px;
        overflow: hidden;
        border-radius: 12px;
        position: relative;
        background-color: $cl-white;
        border: 1px solid $cl-border-grey;

        @include laptop {
            min-height: 330px;
        }

        &__bg {
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 1;

            img {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
                z-index: 1;
            }

            &::after {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                height: 60.75%;
                background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 55.77%, rgba(0, 0, 0, 0) 100%);
                z-index: 2;
            }
        }

        &__bg2 {
            position: absolute;
            right: 30px;
            bottom: 30px;
            left: 30px;
            display: flex;
            align-items: flex-end;
            justify-content: flex-end;
            height: 45%;
            z-index: 3;

			@include laptop {
            	height: 35%;
			}

            img {
                display: block;
                max-width: 100%;
                max-height: 100%;
                object-fit: contain;
                object-position: bottom;
            }
        }

        &__body {
            position: relative;
            padding: 30px;
            z-index: 3;
        }
        &__title {
            margin-bottom: 10px;
        }
        &__text {
            line-height: 1.3;
        }

        &__footer {
            padding-top: 30px;

            @include laptop {
                padding-top: 10px;

                .mbtn {
                    display: block;
                    width: 100%;
                }
            }
        }

        &__map {
            overflow: hidden;
            border-radius: 12px;
            margin-top: 30px;
            position: relative;
            height: 240px;
            background-color: $cl-grey-light;

            @include desktop {
                height: 249px;
            }
			@include laptop {
                height: 309px;
			}

            &__yandex {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
            }
        }

        &.list-delivery-services__card__style1 {
            color: $cl-white;
        }

        &.list-delivery-services__card__style2 {
            grid-column: span 2;

            @include laptop {
                min-height: 453px;
            }
            @include tablet {
                grid-column: auto;
            }
        }
    }
}
