.block__padd {
	padding: 75px 0;

	@include laptop {
		padding: 45px 0;
	}

	&:first-child,
	&.block__padd__first {
		padding-top: 150px;

		@include laptop {
			padding-top: 90px;
		}
	}
	&:last-child,
	&.block__padd__last {
		padding-bottom: 150px;

		@include laptop {
			padding-bottom: 90px;
		}
	}

	&.block__padd__nofirst {
		padding-top: 75px;

		@include laptop {
			padding-top: 45px;
		}
	}
	&.block__padd__nolast {
		padding-bottom: 75px;

		@include laptop {
			padding-bottom: 45px;
		}
	}
}

.block__more {
	text-align: center;
	padding-top: 60px;

	@include laptop {
		padding-top: 30px;
	}
}

.block__more {
	text-align: center;
	padding-top: 60px;

	@include laptop {
		padding-top: 30px;
	}

	.row {
		gap: 30px 0;
		margin: 0 -15px;

		& > div {
			padding: 0 15px;
		}
	}
}

.block__overflow {
	overflow: hidden;
}


.block__title {
	margin: 60px 0;

	@include laptop {
		margin: 30px 0;
	}

	.row {
		align-items: center;
	}

	&:first-child {
		margin-top: 0;
	}
	&:last-child {
		margin-bottom: 0;
	}
}

.pageinside {
	padding: 0 0 75px 0;

	@include laptop {
		padding: 0 0 45px 0;
	}

	&.pageinside__last {
		padding-bottom: 150px;

		@include laptop {
			padding-bottom: 90px;
		}
	}

	&__columns {
		display: grid;
		grid-template-columns: 297px 1fr;
		gap: 30px;

		@include desktop-xl {
			grid-template-columns: 220px 1fr;
		}
		@include desktop {
			grid-template-columns: 220px 1fr;
		}
		@include laptop {
			grid-template-columns: 100%;
			gap: 20px;

			.pageinside__columns__sidebar.js--sidefilter-sidebar {
				position: fixed;
				left: 0;
				top: 0;
				width: 0;
				height: 0;
				padding: 0;
				margin: 0;
				overflow: visible;
				z-index: 9999;
			}
		}

		&.is-sidefilter-hidden {
			.js--sidefilter-sidebar {
				display: none;
			}

			.js--sidefilter-sidebar + .pageinside__columns__body {
				grid-column: 1 / -1;
			}
		}
	}

	&__columns2 {
		display: grid;
		grid-template-columns: 1fr 297px;
		gap: 30px;

		@include desktop {
			grid-template-columns: 1fr 220px;
		}

		@include laptop {
			grid-template-columns: 100%;
		}

		&.pageinside__columns2__margincompositions {
			.block__padd.block__padd__nofirst {
				padding-top: 0;
			}
		}
		&.pageinside__columns2__marginabout {
			.block__padd.block__padd__nofirst.block__padd__nolast {
				padding-top: 0;
				padding-bottom: 0;
			}
		}
	}

	&__filter {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		flex-wrap: wrap;
		gap: 10px 40px;
		margin-bottom: 60px;

		@include desktop {
			gap: 10px 30px;
		}

		&__link {
			display: inline-block;
			color: $cl-black;
			font-size: rem(26);
			font-family: $font-secondary;
			line-height: 1.2;
			text-transform: uppercase;
			text-decoration: none;

			@include desktop {
				font-size: rem(22);
			}
			@include laptop {
				font-size: rem(18);
			}
	

			&:hover, &:focus {
				color: $cl-red;
			}

			&.active {
				color: $cl-red;
			}
		}

		&.pageinside__filter__sizesmall {
			.pageinside__filter__link {
				font-size: rem(20);

				@include laptop {
					font-size: rem(18);
				}
			}
		}
	}
}

.content-columns {
	& > .row {
		gap: 60px 0;
		margin: 0 -15px;

		@include laptop {
			gap: 30px 0;
			margin: 0 -10px;
		}

		& > div {
			padding: 0 15px;

			@include laptop {
				padding: 0 10px;
			}
		}
	}

	&__attation {
		border: 1px solid $cl-border-grey;
		background-color: $cl-white;
		padding: 30px;
		overflow: hidden;
		border-radius: 12px;

		@include tablet {
			padding: 20px;
		}

		&__header {
			display: flex;
			align-items: center;
			justify-content: flex-start;
			gap: 10px;
			margin-bottom: 30px;

			@include laptop {
				margin-bottom: 10px;
			}

			&__icon {
				display: flex;
				align-items: center;
				justify-content: center;
				flex: 0 0 auto;
				width: 24px;
				height: 24px;
			}

			&__title {
				flex: 1 0 0;
				width: 100%;
    			max-width: 100%;
			}
		}
	}

	&__advantageslist {
		display: flex;
		align-items: flex-start;
		justify-content: flex-start;
		flex-wrap: wrap;
		gap: 10px;
		margin-bottom: 30px;

		&__card {
			display: flex;
			align-items: center;
			justify-content: flex-start;
			white-space: nowrap;
			gap: 7px;
			background-color: $cl-grey-btn;
			color: $cl-white;
			padding: 10px;
			border-radius: 10px;
			font-weight: 400;
			line-height: 1;
			border-radius: 6px;
			padding: 3px 10px;
			min-height: 32px;

			@include desktop {
				min-height: 28px;
			}

			i {
				flex: 0 0 auto;
				display: flex;
				align-items: center;
				justify-content: center;
				flex: 0 0 auto;
				width: 26px;
				height: 26px;

				@include desktop {
					width: 22px;
					height: 22px;
				}

				svg, img {
					display: block;
					max-width: 100%;
					max-height: 100%;
					object-fit: contain;
				}
			}
			span {
				flex: 0 0 auto;
				width: auto;
			}

			&.style__brown {
				background-color: #886464;
			}
			&.style__green {
				background-color: #5F905A;
			}
			&.style__yellow {
				background-color: #D6B844;
			}
			&.style__purple {
				background-color: #9D435D;
			}
		}
	}

	&__properties {
		background-color: $cl-white;
		padding: 30px;
		border-radius: 12px;
		border: 1px solid $cl-border-grey;

		@include tablet {
			padding: 20px;
		}

		&__list {
			display: flex;
			flex-direction: column;
			align-items: stretch;
			justify-content: flex-start;
			gap: 5px;
			line-height: 1.3;
			margin: 0 -5px;

			&__item {
				display: flex;
				align-items: center;
				justify-content: space-between;
				gap: 20px;
				padding: 5px;
				border-radius: 6px;
				transition: background-color ease 0.3s;

				&:hover {
					background-color: $cl-background3;
				}

				span {
					flex: 0 0 auto;
					width: calc(50% - 10px);

					&:first-child {
						color: $cl-grey-placeholder;
					}
					& + span {
						text-align: right;
					}
				}
			}

			&__more {
				padding-top: 10px;
				padding-left: 5px;
				padding-right: 5px;
	
				@include laptop {
					padding-top: 10px;
				}
	
				&__link {
					display: inline-block;
					color: $cl-red;
	
					&:hover {
						color: $cl-red-hover;
					}
	
					span {
						display: inline-block;
						transition: all ease 0.3s;
	
						&.active {
							display: none;
						}
						&.default {
							display: block;
						}
					}
	
					&.active {
						span {
							&.active {
								display: block;
							}
							&.default {
								display: none;
							}
						}
					}
				}
			}
		}
	}

	&__more {
		padding-top: 16px;

		@include laptop {
			padding-top: 10px;
		}

		a {
			display: inline-block;
			color: $cl-red;

			&:hover {
				color: $cl-red-hover;
			}
		}
	}
}

.block-navpagebottom {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 30px;

	@include tablet {
		grid-template-columns: 1fr;
		gap: 10px;
	}

	&__link {
		display: grid;
		grid-template-columns: 50px 1fr;
		grid-template-rows: auto auto;
		align-items: center;
		align-content: center;
		justify-content: start;
		position: relative;
		overflow: hidden;
		border-radius: 12px;
		gap: 5px 30px;
		text-decoration: none;
		color: $cl-white;
		padding: 60px;
		min-height: 200px;
		height: 100%;

		@include desktop {
			padding: 40px;
			gap: 5px 20px;
			grid-template-columns: 36px 1fr;
			min-height: 160px;
		}
		@include tablet {
			padding: 20px;
			min-height: 107px;
		}

		&:hover {
			color: $cl-white;

			.block-navpagebottom__link__bg img {
				transform: scale(1.1);
			}
		}

		&__bg {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			z-index: 1;

			img {
				display: block;
				width: 100%;
				height: 100%;
				object-fit: cover;
				z-index: 2;
				transition: transform ease 0.5s;
			}

			&::before {
				content: '';
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				background-color: rgba($cl-black, 0.4);
				z-index: 3;
			}
		}

		&__icon {
			display: flex;
			align-items: center;
			justify-content: center;
			grid-row: 1 / -1;
			align-self: center;
			width: 50px;
			height: 50px;
			z-index: 4;
			color: $cl-black;
			border-radius: 50%;
			background-color: $cl-white;

			@include desktop {
				width: 36px;
				height: 36px;
			}

			img, svg {
				max-width: 20px;
				max-height: 20px;
				object-fit: contain;

				@include desktop {
					max-width: 14px;
					max-height: 14px;
				}
			}
		}

		&__category {
			line-height: 1.1;
			position: relative;
			z-index: 5;
			overflow: hidden;
			display: -webkit-box;
			-webkit-box-orient: vertical;
			-webkit-line-clamp: 2;
			text-overflow: ellipsis;
		}

		&__title {
			font-size: rem(30);
			line-height: 1.2;
			font-weight: 400;
			font-family: $font-secondary;
			text-transform: uppercase;
			position: relative;
			overflow: hidden;
			display: -webkit-box;
			-webkit-box-orient: vertical;
			-webkit-line-clamp: 2;
			text-overflow: ellipsis;
			z-index: 5;

			@include desktop {
				font-size: rem(20);
			}
		}

		&.block-navpagebottom__link__reverse {
			text-align: right;
			grid-template-columns: 1fr 50px;

			.block-navpagebottom__link__icon {
				grid-column: 2 / 3;
				align-self: center;
				transform: rotate(180deg);
			}
		}
	}
}