.managers {
	margin: 30px 0;
	display: grid;
	grid-template-columns: repeat(3, minmax(0,1fr));
	gap: 30px;

	@include desktop {
		grid-template-columns: repeat(2, minmax(0,1fr));
	}
	@include tablet {
		grid-template-columns: 1fr;
	}

	&:first-child {
		margin-top: 0;
	}
	&:last-child {
		margin-bottom: 0;
	}

	&__card {
		background-color: $cl-white;
		padding: 30px;
		border: 1px solid $cl-border-grey;
		border-radius: 12px;

		&__header {
			display: grid;
			grid-template-columns: 94px minmax(0,1fr);
			align-items: center;
			gap: 20px;
			margin-bottom: 30px;

			@include desktop {
				margin-bottom: 10px;
			}

			&__img {
				display: flex;
				align-items: center;
				justify-content: center;
				aspect-ratio: 1/1;
				overflow: hidden;
				border-radius: 50%;

				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}
			&__body {
				line-height: 1.3;
			}
			&__name {
				font-weight: 700;
			}
		}
		&__btns {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			gap: 30px;

			@include desktop-xxl {
				gap: 10px;
			}
			@include desktop-xl {
				gap: 10px;
				grid-template-columns: 1fr;
			}
			@include desktop {
				gap: 10px;
				grid-template-columns: repeat(2, 1fr);
			}
		}
	}
}
